# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# vim files
*.swo*
*.swp*

# avr local crap
*.hex
*.out
*.elf
*.lst
*.map
